.head {
	margin: auto;
	color: red;
	font-family: "Verdana", sans-serif;
}
p {
	margin: auto;
	color: blue;
	font-family: "Lucida Console", monospace;
}
.pics img {
	margin: auto
	height:120px;
	width: auto;
	border: 2 px solid black;
}